<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <title>ROSHAMBO</title>
    </head>
    <body>

        <h1>ROSHAMBO!!!!!!</h1>
        <h2> Welcome to the most EPIC  rock, paper, scissors battle YOU'LL EVER SEE!!!!!</h2>

        <form action="/playgame" method="get">
            <label for ="input1">Player 1</label>
            <input id = "input1" name = "input1" type= "text">

            <label for ="input2">Player 2</label>
            <input id = "input2" name = "input2" type ="text">
            <button type = "submit">Go!</button>
        </form>

        <form action="/computer" method="get">
            <label for = "input1">Enter your pick against the computer</label>
            <input id = "input1" name ="input1" type = "text">
            <button type = "submit">Go against computer</button>
        </form>
    </body>
</html>
