<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <p>Hello</p>

        <form action="/playgame" method="get">
            <label for ="input1">Rock, Paper, or Scissors</label>
            <input id = "input1" name = "input1" type= "text">

            <label for ="input2">Rock, Paper, or Scissors</label>
            <input id = "input2" name = "input2" type ="text">
            <button type = "submit">Play!</button>
        </form>
    </body>
</html>
