<html>
    <head>
        <title>Games!!!!</title>
    </head>
    <body>
        <p>
        <p>Player One picks : {{ player1input }} </p>
        <p>Player Two picks : {{ player2input }} </p>



        <p>Winner : {{ game_results.returnWinner }} </p>

        </p>
        </body>
</html>
