<html>
    <head>
        <title>Games!!!!</title>
    </head>
    <body>
        <p>
        <p>Player One picks : {{ game_results.getInput1()}} </p>
        <p>Player Two picks : {{ game_results.getInput2()}} </p>
        <p>The Winner is : {{ game_results.returnWinner }} </p>

        </p>
        </body>
</html>
